p{
    font-size: 69px;
}
header{
    background-color: lightgray;
    padding: 1.5em;   
    text-align: center;     
    }
    nav{
        background-color: lightcoral;
        text-align: left;
    }
    nav ul{
    margin: 0; 
    padding: 0;   
    list-style-type: none;
    }
    nav li{
    display: inline-block;    
    }
    nav a{
        text-decoration: none;
        display: inline-block;
        color: white;
        padding: 14px 16px;
    }
    nav li:hover{
        background-color: orange;
    }
    footer{
        background-color: black;
        padding: 0.8em;
        color: white;
        text-align: center;
    }